<div id="begin-content-anchor" style="margin-top: -34px;"></div>
[content_block max_bg_width="yes" bg_fixed="yes" bg_position="center top" bg_repeat="no-repeat" bg_size="auto" parallax_scroll="no" bg_color="#FAFAFA" content_padding="50px 0" font_color="inherit" class="class-name"]
[two_third]
<h2 style="color: #333; margin-top: 20px; font-size: 32px !important; font-weight: bold;">Welcome to Omnipro ICT</h2>
<h4 style="color: #159b9a;">Connectivity Solutions</h4>
We provide comprehensive and flexible satellite, microwave and fiber optic based solutions for Internet backbone connectivity well as broadband and MPLS services. Our strategic partnership with the leading international providers of state of the art communication equipment and services, allows us to offer cost-effective solutions that help corporate networks to reduce costs, improve service and become more competitive.
<h4 style="color: #159b9a;">Security Services</h4>
n partnership with Cognosec, a worldwide IT-security, PCI and GRC consulting specialist, we provide state-of-the-art consulting services in the fields of payment, communications, network and e-commerce security to clients ranging from international banks, insurance firms and utility organisations to government institutions and global payment providers.
[/two_third]
[one_third_last]
<div style="margin-top: 52px; color: #000; text-align: right; font-size: 20px; font-style: italic;">"Because they exceeded our uptime projections we were able to defer a planned backup network, this has saved us considerable capex and opex expenditure!"</div>
<div style="text-align: right;"><span style="color: ##159b9a;"> -Stanbic Bank</span></div>
[/one_third_last]
[/content_block]

[content_block bg_image="" max_bg_width="yes" bg_fixed="no" bg_position="center bottom" bg_repeat="repeat-x" parallax_scroll="no" bg_color="#eee" content_padding="25px 0 60px" font_color=""]
<h2 style="text-align: center; margin: 40px 0 50px;"><span style="font-size: 34px; color: #429ba0; line-height: 1.2; font-weight: bold;">Market Segments</span></h2>
[clear]
<div class="one_fourth">
    <div style="float: left; text-align: center;">

        <i class="fa fa-usd circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Finance</h4>
        <div>Today's customers demand<strong> high availability, high speed, secured networks.</strong>Customers expect international security standards.
            Not only are we able to provide connectivity solutions but we also support our customers in <strong>PCI, GRC </strong>as well as <strong>ISO.</strong></div>
    </div>
</div>
<div class="one_fourth">
    <div style="float: left; text-align: center;">

        <i class="fa fa-laptop circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Information Tech.</h4>
        The Information Tech industry evolves rapidly with new technology adoption as the status quo.This sector demands <strong>international grade customer service. </strong>Using <strong>deep knowledge, experience </strong>and a can do attitude, We are able to support this market segment.

    </div>
</div>
<div class="one_fourth">
    <div style="float: left; text-align: center;">

        <i class="fa fa-group circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Non Governmental</h4>
        <div>As a regular feature of the African IT landscape. NGO's are located in both urban and hard to reach areas. This sector demands conservatively priced connectivity solutions that simply work.
            Our portfolio of products and services delivery on high availability, with minimal support.</div>
    </div>
</div>
<div class="one_fourth last_column">
    <div style="float: left; text-align: center;">

        <i class="fa fa-lightbulb-o circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Education</h4>
        <div>The face of education has changed. Even the blackboard and chalk class rooms require technology to deliver a rich learning experience.
            Whether running an LMS or a cloud based app, todays learning environment require's Ecoband's seasoned, tech savvy team.</div>
    </div>
</div>
<div class="clear" style="margin: 30px 0;"></div>
<div class="one_fourth">
    <div style="float: left; text-align: center;">

        <i class="fa fa-gears circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Manufacturing</h4>
        Manufacturing in Ghana involves both local and international stake holders.Real time connectivity, including MPLS, WAN and VPNs are requisite. Successful implementations and cost effective solutions that work, require a solution provider with International presence and local expertise.

    </div>
</div>
<div class="one_fourth">
    <div style="float: left; text-align: center;">

        <i class="fa fa-lightbulb-o circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Energy</h4>
        <div>Not since independence have we seen such activity within the energy sector. Again the multitude of energy companies in Ghana require high availability, high capacity networks that allow not only production monitoring and backup but also front office systems to function flawlessly.</div>
    </div>
</div>
<div class="one_fourth">
    <div style="float: left; text-align: center;">

        <i class="fa fa-building circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Hospitality</h4>
        <div>Hospitality is a sector underpinned by bandwidth hungry systems. Guests visiting your location require redundant, high available, hi-speed networks that deliver the OTT triple play services.</div>
    </div>
</div>
<div class="one_fourth last_column">
    <div style="float: left; text-align: center;">

        <i class="fa fa-medkit circle-wrap" style="color: #429ba0; font-size: 2em;"><!-- icon --></i>
        <h4 style="margin: 10px 0; font-weight: bold;">Health Care</h4>
        <div>Whether its the storage and transmission of MIR's or any mission critical data, or maybe its a live video consultation with internationally based specialists. There's always a reason why Ghana's top medical institutions continue to turned to Ecoband, simply put we deliver.</div>
    </div>
</div>
[/content_block]

[content_block bg_color="#159B9A" max_bg_width="yes" content_padding="30px 0" font_color="#FFFFFF" class="custom-padding"]
<h2 style="float: left; display: inline-block; margin: 5px 0; font-size: 27px !important; line-height: 1.2; color: #fff;">Internet Backbone Connectivity</h2>
<span style="margin-left: 15px; font-size: 17px; color: #ffffff; line-height: 1.5;">Our flexible and cost-effective submarine fiber, satellite and broadband wireless connectivity</span>
<span style="margin-left: 15px; font-size: 17px; color: #ffffff; line-height: 1.5;"> solutions empower individuals, companies and organizations.</span>
[/content_block]

[content_block bg_image="http://frederickankamah.me/wp-content/themes/u-design/styles/common-images/parallax-bg.jpg" max_bg_width="yes" bg_fixed="yes" bg_position="center bottom" bg_repeat="no-repeat" parallax_scroll="no" bg_color="#182632" content_padding="90px 0 95px" font_color="#EEEEEE"]
<div id="parallax-backgrounds" style="text-align: left;">
    <h4 style="margin-bottom: 20px;"><span style="font-size: 48px; color: #fff; line-height: 1;">Submarine Fiber Optic Connectivity.</span></h4>
    <p style="font-size: 1.3em;"><strong>Submarine Fiber Optic Links: </strong>
        Dedicated IP and MPLS services deliver top quality Internet,
        Voice and Data access, via multiple, redundant submarine fiber optic cables with first class service and
        support infrastructure.</p>
    &nbsp;
    <p style="font-size: 1.3em;"><strong>Metro Fiber Links:</strong>
        Cost efficient fiber optic local loop links for WAN and Internet service delivery
        in Accra, Tema and Kumasi with unparalleled up-time and QoS.</p>

</div>
[/content_block]

[content_block bg_image="http://frederickankamah.me/wp-content/themes/u-design/styles/common-images/parallax-bg.jpg" max_bg_width="yes" bg_fixed="yes" bg_position="center bottom" bg_repeat="no-repeat" parallax_scroll="no" bg_color="#182632" content_padding="90px 0 95px" font_color="#EEEEEE"]
<div id="content-block-body-1912" class="content-block-body" style='background-image: http://frederickankamah.me/wp-content/themes/u-design/styles/common-images/parallax-bg.jpg'>
    <div class="clear"></div>
    <div class="one_half"></div>
    <div class="one_half last_column">
        <h4 style="margin-bottom: 25px;"><span style="font-size: 34px; line-height: 1.1; font-weight: bold;">Satellite Connectivity
</span></h4>
        <p style="font-size: 1.3em; color: #c5aa77;"><strong>DVB Satellite Links:</strong> Dedicated and burstable Digital Video Broadcast (DVB) IP downlinks for operators with low cost installations and reliable mulit-pop services.</p>
        <p style="font-size: 1.3em; color: #c5aa77;"><strong>C-Band VSAT Links: </strong>Dedicated, reliable satellite solutions for enterprise and provider networks.</p>
        <p style="font-size: 1.3em; color: #c5aa77;"><strong>Ku-Band VSAT Links: </strong>The best and most affordable satellite service for transactional applications, standard Internet access including web surfing, email, VoIP and similar applications.</p>
        <p style="font-size: 1.3em; color: #c5aa77;"><strong>Ka-Band VSAT Links: </strong>Inmarsat Global Xpress is the first high-speed Ka-Band broadband network to span the world. It delivers seamless, globally available, high-speed broadband connectivity on land, at sea, and in the air.</p>

        <div class="clear" style="margin-top: 20px;"></div>
        <a class="flat-custom-button align-btn-left" title="" href="https://www.ecoband.net/contact/ "><span style="padding: 15px 25px; background-color: #eaaf24; ; border: 1px solid #eaaf24; color: #ffffff; font-size: 13px;">CONTACT US...</span></a>

    </div>
    <div class="clear"></div>
</div>
[/content_block]
[content_block bg_image="" max_bg_width="yes" bg_fixed="no" bg_position="center bottom" bg_repeat="repeat-x" parallax_scroll="no" bg_color="#fff" content_padding="55px 0 0" font_color="#000"]
<h4 style="margin-bottom: 25px;"><span style="font-size: 34px; color: #000000; line-height: 1.2; font-weight: bold;">Create your own unique website with UDESIGN and fave fun doing it!</span></h4>
<div style="margin-bottom: 45px;"><span style="font-size: 18px; color: #999999;">U-Design is a very powerful theme which suits both users with no programming background as well as advanced developers. It will help you build your site in no time to your liking with minimal effort.</span></div>
<div style="font-size: 1.1em; color: #777;">
    <div class="one_half">
        <ul class="fontello-ul" style="font-size: 1.1em; margin-bottom: 30px;">
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Easy and fun to work with</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Very customizable with great options</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Clean and secure code you can trust</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> New features added all the time</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Always up to date and here to stay</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Downloadable contents for fast setup</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Fully responsive and mobile ready</li>
            <li><i class="icon-check" style="color: #000;"><!-- icon --></i> Parallax support</li>
        </ul>
        [flat_button text="SEE LIST OF FEATURES" title="See list of Features" url="" padding="10px 20px" bg_color="#FD7800" border_color="#eb6f00" border_width="1px" text_color="#FFFFFF" text_size="13px" align="left"]

    </div>
    <div class="one_half last_column" style="margin-bottom: 0;"><img class="alignright" style="margin-bottom: 0;" src="http://frederickankamah.me/wp-content/uploads/2011/01/600x409.png" alt="" /></div>
</div>
[/content_block]

[content_block bg_image="" max_bg_width="yes" bg_fixed="no" bg_position="center center" bg_repeat="repeat-x" parallax_scroll="no" bg_color="#293037" content_padding="100px 0 80px" font_color="#FFFFFF"]
<div style="text-align: center;">
    <h4 style="margin-bottom: 25px;"><span style="font-size: 36px; color: #fff; line-height: 1.2; font-weight: bold;">We love to design &amp; developed awesome websites!</span></h4>
    <div style="margin-bottom: 20px;"><span style="font-size: 17px; color: #ffffff; line-height: 1.5;">U-Design is a modern, clean and super flexible multi-purpose WordPress theme. It offers all the tools you need to create a unique looking site for any business. It is constantly improved with new features and functionality. Power you site with the Best Selling U-Design and get all the features you will need!</span></div>
</div>
[/content_block]

[content_block bg_image="http://frederickankamah.me/wp-content/uploads/2011/01/parallax-phone-11.jpg" max_bg_width="yes" bg_fixed="no" bg_position="center center" bg_repeat="repeat-x" parallax_scroll="no" bg_color="#fff" content_padding="80px 0 80px" font_color="#000" ]
<h4 style="margin-bottom: 25px;"><span style="font-size: 34px; color: #000; line-height: 1.2; font-weight: bold;">Create a responsive website with UDESIGN!</span></h4>
<div style="font-size: 1.2em; color: #777;">
    <div class="one_half">
        <div style="margin-bottom: 40px;">

            <strong>Responsive &amp; Mobile Ready!!!</strong> U-Design theme has a fully responsive layout. It fits perfectly on various displays and resolutions from regular desktop screens to tablets,iPads,iPhones and small mobile devices. Feel free to try it out!

            The theme offers two responsive menus, additionally you have the option to assign a different logo to be used for the mobile version of your site and more. A note for those who do not require responsive layout, it is optional so they can disable it if they wish to.

        </div>
        [flat_button text="SEE LIST OF FEATURES" title="See list of Features" url="" padding="10px 20px" bg_color="#FD7800" border_color="#eb6f00" border_width="1px" text_color="#FFFFFF" text_size="13px" align="left"]

    </div>
    <div class="one_half last_column"></div>
</div>
[/content_block]

[content_block bg_image="" max_bg_width="yes" bg_fixed="yes" bg_position="center bottom" bg_repeat="repeat-x" parallax_scroll="no" bg_color="#ECEDEE" content_padding="30px 0 30px" font_color="#293037"]
[one_fourth]
<div style="margin: 25px 0;"><img class="aligncenter" src="http://frederickankamah.me/wp-content/uploads/2011/01/300x300.png" alt="" width="300" height="300" /></div>
[/one_fourth]
[three_fourth_last]
<h3 style="color: #293037; line-height: 1.6;"><span style="font-size: 30px;">Mia Design</span></h3>
Web Designer, Writer &amp; Blogger, Canada
<div style="font-size: 17px; color: #293037; line-height: 1.7;"><i class="icon-quote-left-1" style="color: #293037; font-size: 1.1em;"><!-- icon --></i> <em>U-Design is ut mollis urna tincidunt, lobortis nunc non, volutpat est. Sed sollicitudin sodales maximus. Nunc euismod porttitor ante condimentum suscipit. Nulla sagittis leo vel nibh suscipit, a bibendum nisi pulvinar. Donec faucibus, tortor eu finibus vestibulum, tellus neque ornare ante, egestas convallis erat justo ut odio. </em> <i class="icon-quote-right-1" style="color: #293037; font-size: 1.1em;"><!-- icon --></i></div>
[/three_fourth_last]
[/content_block]
<div style="margin-bottom: -55px;">

    [content_block bg_image="" max_bg_width="yes" bg_fixed="yes" bg_position="center bottom" bg_repeat="repeat-x" parallax_scroll="no" bg_color="#293037" content_padding="100px 0 100px" font_color="#FFFFFF"]
    <div style="text-align: center;">
        <h4 style="margin-bottom: 25px;"><span style="font-size: 42px; color: #fff; line-height: 1.2; font-weight: bold;">THE UDESIGN THEME!</span></h4>
        <h5 style="margin-bottom: 20px;"><span style="font-size: 24px; color: #fff; line-height: 1.5;">U-Design is a very powerful theme which suits both users with no programming background as well as advanced developers. It will help you build your site in no time to your liking with minimal effort.</span></h5>
    </div>
    [one_half][flat_button text="SEE LIST OF FEATURES" title="See list of Features" url="" padding="10px 20px" bg_color="#FD7800" border_color="#eb6f00" border_width="1px" text_color="#FFFFFF" text_size="13px" align="right"][/one_half]
    [one_half_last][flat_button text="BUY U-DESIGN THEME!" title="Buy 'U-Design' Theme Now!" url="http://themeforest.net/item/udesign-wordpress-theme/253220?ref=AndonDesign" padding="10px 20px" bg_color="transparent" border_color="#FFFFFF" border_width="1px" text_color="#FFFFFF" text_size="13px" align="left" target="_blank"][/one_half_last]
    [/content_block]

</div>