<template>

    <div class="modal fade add-new-category" id="add-new-category-modal" tabindex="-1" role="dialog" aria-labelledby="add-new-category">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="categoryModalLabel"> Add New category </h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="add-new-category-form"
                          v-on:submit.prevent="submitAddCategory">
                        {!! csrf_field() !!}
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" v-model="formData.name"  name="name" placeholder="name of category" required>
                        </div>

                        <br>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save category</button>
                    </form>
            </div>

        </div>

    </div>
    </div>

</template>

<script>

    export default {

        name: 'AddNewCategory',
        data() {
            return {
                formData: []
            } //return
        }, //data
        methods: {
            addNewCategory(){
                $('.add-new-category').modal();
            },
            submitAddCategory(){
                let category_form = document.getElementById('add-new-category-form');
                let url = "/restaurant/{{config('app.env')}}/admin/menu/add-test-category";

                let formData = new FormData(category_form);

                this.$http.post(url, formData)
                    .then((httpResponse) => {
                        console.log('body', httpResponse.body);
                    }).done(data => {
                         $('.add-new-category').modal('hide');
                         category_form.reset();
                         Vue.set(vm, 'menuItemsArray', data);
                        // Display a success toast
                        toastr.success('Successfully added a new category!')
                });

//                $.ajax({
//                    url: "/restaurant/{{config('app.env')}}/admin/menu/add-test-category", // Url to which the request is send
//                    type: "POST",             // Type of request to be send, called as method
//                    data: formData, // Data sent to server, a set of key/value pairs (i.e. form fields and values)
//                }).done(function(data){
//                    $('.add-new-category').modal('hide');
//                    category_form.reset();
//                    Vue.set(vm, 'menuItemsArray', data);
//                    // Display a success toast
//                    toastr.success('Successfully added a new category!')
//                })
            },
        } //methods
    } //default
</script>

<style scoped>

    .panel-heading {
        cursor: pointer;
    }

</style>