
#wrapper > div.content > div > div.row > form > div.col-md-3 > span > div > div > div{
   border-radius: 2px;
    border : 1px solid #F9F9F9;
    box-shadow:inset 2px 4px 6px 0px #787878;;
    width: 400px;
    height: 30px;
}

.tt-dropdown-menu {
    text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 400px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
    z-index: 10000;
}

.search-btn {
    background-color: #fff;
    height: 50px;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/* styles for dropdown list: custom template */
.repo-language {
    float: right;
    font-style: italic;
}

/* Identifiers for parentage table */
.identifier{
    /*display: none;*/
}

@media (max-width: 1000px) {
    #advanced-search,#btnsearch{
        margin-top: 20px;
    }

}

@media(max-width: 510px){
    #navbar{
     font-size: 12px !important;
        margin-top: -10px !important;
    }
}
.table-top-menu ul{
    float: right;

}
.table-top-menu ul li{
    display: inline-block;
    color: white;
    margin-left: 4px;

}

.table-top-pagination{
    margin-bottom: -35px;
}

.trash{
    background-color: #003246;
    font-weight: bold;
    padding:10px;
    border-radius: 5px;
}

.trash a{
    color: white;
}

.box{
    /*background-color: #003246;*/
    border-radius: 7px;
    /*color: white;*/
    padding: 5px;
    /*opacity: 0.83;*/
}

body > header > div > div > a:hover{
    background-color: transparent !important;
    color: #003246 !important;
}