/*body {*/
    /*margin:     0;*/
    /*padding:    0;*/
    /*width:      24cm;*/
    /*height:     25cm;*/
/*}*/

body {
    margin:     0;
    padding:    0;
    width:      24cm;
    height:     30cm;
    /*width: 297mm;*/
    /*height: 210mm;*/



}





